body  {
	font-family: Verdana, sans-serif;
	font-size: 16px;
}
header {
	background-color: #B1DBC3;
	text-align: center;
	padding-bottom: 8px;
}
header img {
	height: 100px;
}
nav {
	margin-right: 66.6%;
	margin-top: 2em;
}
nav ul li {
	padding-bottom: 1em;
	border-bottom: 1px solid #B1DBC3;
}
main {
	margin-left: 33.3%;
}
}
main div p {
	padding-bottom: 2em;
}
h1{
	font-size: 32px;
	color: #77A8A6;
	margin-bottom: 1em;
}
h2{
	font-size: 24px;
	color: #486175;
	padding-bottom: 1em;
}
.noticia {
	border: 1px solid #314256;
	padding: 1em;
	margin: 2em;
}
.noticia p {
	padding-bottom: 1em;
	margin: 1em;
}
p {
	color: #0A060F;
	font-size: 16px;
}
a {
	color: #B1DBC3;
	text-decoration: none;
}
footer {
	text-align: right;
	background-color: #222442;
	color: #fff;
	padding: 2em;
}
footer p {
	padding-top: 1em;
	color: #fff;
}